In [1]:
import pandas as pd
import matplotlib as mat

In [6]:
df=pd.read_csv("/Users/riteshchandra/Desktop/Jobs_NYC_Postings_Cleaned.csv")
df.head()

,Job ID,Agency,Posting Type,# Of Positions,Business Title,Civil Service Title,Title Classification,Title Code No,Level,Job Category,...,Additional Information,To Apply,Hours/Shift,Work Location 1,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated,Process Date
0,599705,DEPT OF HEALTH/MENTAL HYGIENE,Internal,1,"Hotline Representative, Bureau of Immunization",PUBLIC HEALTH ADVISER,Competitive-1,51191,M1,Health,...,**IMPORTANT NOTES TO ALL CANDIDATES: Please n...,All applicants must apply through NYC Governme...,TBD,NaN,NaN,New York City residency is required.,8/21/23,19-Dec-23,8/21/23,11/27/23
1,606151,DEPARTMENT OF CITY PLANNING,Internal,1,Pipeline Manager,CITY PLANNER,Competitive-1,22122,M1,"Engineering, Architecture, & Planning",...,NaN,All applicants must apply through NYC Governme...,TBD,NaN,NaN,New York City residency is required.,9/20/23,NaN,9/20/23,11/27/23
2,542219,DEPT OF ENVIRONMENT PROTECTION,External,2,Environmental Engineer II,ENVIRONMENTAL ENGINEER,Competitive-1,20618,M1,"Engineering, Architecture, & Planning",...,Appointments are subject to OMB approval. For...,All applicants must apply through NYC Governme...,TBD,96-05 Horace Harding Expway,NaN,New York City residency is not required,7/25/22,NaN,8/16/22,11/27/23
3,591472,DEPT OF ENVIRONMENT PROTECTION,External,1,PORTFOLIO MANAGER,ADMINISTRATIVE CONSTRUCTION PR,Competitive-1,82991,M0,"Engineering, Architecture, & Planning",...,NaN,All applicants must apply through NYC Governme...,TBD,"465 Columbus Ave. Valhalla, Ny",NaN,New York City residency is not required,7/14/23,NaN,11/2/23,11/27/23
4,606729,DEPT OF ENVIRONMENT PROTECTION,Internal,1,Deputy Executive Assistant,PRINCIPAL ADMINISTRATIVE ASSOC,Competitive-1,10124,M1,Administration & Human Resources,...,NaN,All applicants must apply through NYC Governme...,TBD,NaN,NaN,New York City residency is not required,10/6/23,5-Dec-23,10/6/23,11/27/23

In [7]:
#Getting to know the nature and different statistics of the data
df.describe()

,Job ID,# Of Positions,Salary Range From,Salary Range To,Recruitment Contact
count,5678.000000,5678.000000,5678.000000,5678.000000,0.0
mean,590455.971469,1.771927,64144.849750,88773.009585,NaN
std,23972.897694,3.692936,29446.394142,44028.305765,NaN
min,469953.000000,1.000000,0.000000,15.000000,NaN
25%,582866.500000,1.000000,51869.000000,65000.000000,NaN
50%,596828.000000,1.000000,62370.000000,85147.000000,NaN
75%,607399.000000,1.000000,80440.000000,111917.000000,NaN
max,617582.000000,81.000000,225000.000000,252165.000000,NaN

In [10]:
#dropping the duplicates in jobID coulumn maaking it distinct
df.drop_duplicates(subset=['Job ID'], keep='first', inplace=True)

In [11]:
#after the deletion of all the duplicate data in the jobID we return to look into see the change in dataset
df.describe()

,Job ID,# Of Positions,Salary Range From,Salary Range To,Recruitment Contact
count,2936.000000,2936.000000,2936.000000,2936.000000,0.0
mean,590135.168256,1.932221,64063.517693,89107.066113,NaN
std,24186.144743,4.489986,29295.560526,44325.871764,NaN
min,469953.000000,1.000000,0.000000,15.000000,NaN
25%,582602.250000,1.000000,51869.000000,65000.000000,NaN
50%,596747.500000,1.000000,62370.000000,85147.000000,NaN
75%,607247.000000,1.000000,80440.000000,111917.000000,NaN
max,617582.000000,81.000000,225000.000000,252165.000000,NaN

In [14]:
#printing the columns in the dataset
print(df.columns)

Index(['Job ID', 'Agency', 'Posting Type', '# Of Positions', 'Business Title',
       'Civil Service Title', 'Title Classification', 'Title Code No', 'Level',
       'Job Category', 'Full-Time/Part-Time indicator', 'Career Level',
       'Salary Range From', 'Salary Range To', 'Salary Frequency',
       'Work Location', 'Division/Work Unit', 'Job Description',
       'Minimum Qual Requirements', 'Preferred Skills',
       'Additional Information', 'To Apply', 'Hours/Shift', 'Work Location 1',
       'Recruitment Contact', 'Residency Requirement', 'Posting Date',
       'Post Until', 'Posting Updated', 'Process Date'],
      dtype='object')

In [20]:
#here we see that there are columns which repeat the same information and some columns are empty. To remove the redundency of data we drop certain columns
columns_to_drop = ['Business Title', 'Additional Information', 'Work Location 1','Process Date','Job Description','To Apply','Preferred Skills','Minimum Qual Requirements','Recruitment Contact']
df.drop(columns=columns_to_drop, inplace=True)

KeyError: "['Business Title', 'Additional Information', 'Work Location 1', 'Process Date', 'Job Description', 'Minimum Qual Requirements'] not found in axis"

In [21]:
#Dataset after removal of all the columns
df.head()

,Job ID,Agency,Posting Type,# Of Positions,Civil Service Title,Title Classification,Title Code No,Level,Job Category,Full-Time/Part-Time indicator,...,Work Location,Division/Work Unit,Preferred Skills,To Apply,Hours/Shift,Recruitment Contact,Residency Requirement,Posting Date,Post Until,Posting Updated
0,599705,DEPT OF HEALTH/MENTAL HYGIENE,Internal,1,PUBLIC HEALTH ADVISER,Competitive-1,51191,M1,Health,TBD,...,28th Street,Immunization Registry,"*organizational, and communication skills, dat...",All applicants must apply through NYC Governme...,TBD,NaN,New York City residency is required.,8/21/23,19-Dec-23,8/21/23
1,606151,DEPARTMENT OF CITY PLANNING,Internal,1,CITY PLANNER,Competitive-1,22122,M1,"Engineering, Architecture, & Planning",F,...,Broadway,Land Use Review,"Ã¢Â€Â¢\tProject management experience, including ...",All applicants must apply through NYC Governme...,TBD,NaN,New York City residency is required.,9/20/23,NaN,9/20/23
2,542219,DEPT OF ENVIRONMENT PROTECTION,External,2,ENVIRONMENTAL ENGINEER,Competitive-1,20618,M1,"Engineering, Architecture, & Planning",F,...,Harding Expressway,PLANNING & ANALYSIS,"Ã‚Â¿ Knowledge of Microsoft Project, Office, Exc...",All applicants must apply through NYC Governme...,TBD,NaN,New York City residency is not required,7/25/22,NaN,8/16/22
3,591472,DEPT OF ENVIRONMENT PROTECTION,External,1,ADMINISTRATIVE CONSTRUCTION PR,Competitive-1,82991,M0,"Engineering, Architecture, & Planning",F,...,Staten Islands,UPSTATE CAPITAL CONSTR. - IFA,Ã¢Â€Â¢\tManagerial training and/or extensive mana...,All applicants must apply through NYC Governme...,TBD,NaN,New York City residency is not required,7/14/23,NaN,11/2/23
4,606729,DEPT OF ENVIRONMENT PROTECTION,Internal,1,PRINCIPAL ADMINISTRATIVE ASSOC,Competitive-1,10124,M1,Administration & Human Resources,F,...,Grahamsville.,GRAHAMSVILLE - OF,NaN,All applicants must apply through NYC Governme...,TBD,NaN,New York City residency is not required,10/6/23,5-Dec-23,10/6/23

In [23]:
print(df.columns)

Index(['Job ID', 'Agency', 'Posting Type', '# Of Positions',
       'Civil Service Title', 'Title Classification', 'Title Code No', 'Level',
       'Job Category', 'Full-Time/Part-Time indicator', 'Career Level',
       'Salary Range From', 'Salary Range To', 'Salary Frequency',
       'Work Location', 'Division/Work Unit', 'Preferred Skills', 'To Apply',
       'Hours/Shift', 'Residency Requirement', 'Posting Date', 'Post Until',
       'Posting Updated'],
      dtype='object')

In [25]:
#for the feasibility of the residency requirement, we replace the data as required, not required and hybrid categories in the dataset
df['Residency Requirement'] = df['Residency Requirement'].replace({
    'New York City residency is required. ': 'Required',
    'New York City residency is not required': 'Not required'
})

In [26]:
#printing the Residency column from the dataset
df['Residency Requirement']

0           Required
1           Required
2       Not required
3       Not required
4       Not required
            ...
5555          Hybrid
5557    Not required
5579          Hybrid
5601    Not required
5607    Not required
Name: Residency Requirement, Length: 2936, dtype: object

In [27]:
#Replacing the values of 'Posting date' with 'Posting Updated'
df['Posting Date'] = df['Posting Updated']
df.drop(columns=['Posting Updated'], inplace=True)

In [28]:
#printing the Posting date column
df['Posting Date']

0       8/21/23
1       9/20/23
2       8/16/22
3       11/2/23
4       10/6/23
         ...
5555    11/1/22
5557     2/2/23
5579    2/14/23
5601     9/8/22
5607     9/1/23
Name: Posting Date, Length: 2936, dtype: object

In [36]:
#Extracting the year of job postings from the postings date column
df['Job Postings Year'] = df['Posting Date'].str[-2:]
df['Job Postings Year'] = df['Job Postings Year'].replace({
    '23': '2023',
    '22': '2022',
    '21':'2021'
})

In [39]:
#Displaying the postings year
df['Job Postings Year']

0       2023
1       2023
2       2022
3       2023
4       2023
        ...
5555    2022
5557    2023
5579    2023
5601    2022
5607    2023
Name: Job Postings Year, Length: 2936, dtype: object

In [40]:
#generating a new .csv file which will be input to R for further visualizations and model creation
df.to_csv('Jobs_NYC_Postings_.csv', index=False)